.btnadjust {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-text-color-light);
  font-size: 2rem;
  padding: 2rem;
  transition: all 0.3s;
  border-radius: 3px;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.02) translateY(-0.4rem);
  }

  &--gold {
    border: 2px solid rgb(144, 124, 6);
    background-color: rgb(144, 124, 6);

    &:hover {
      background-color: rgb(144, 124, 6);
      // border: 2px solid var(--darker-primary-color);
    }
  }

  &--white {
    border: 2px solid var(--primary-text-color-light);

    &:hover {
      border: 2px solid var(--dark-primary-color);
      color: var(--dark-primary-color);
    }
  }

  &--animated {
    animation: moveFromBottom 1s ease-out 1s backwards;
  }
}
